.divbtn {
    margin: 0em;
}

.btn {
    width: 195px;
    height: 40px;
    font-size: 30px;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.493);
    color: white;
    border: solid 3px rgba(128, 128, 128, 0.493);
    flex-grow: 1;
}

.buttons {
    width: 100%;
    height: 100%;
    align-content: space-around;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-grow: 1;
}

.btn4 {
    width: 390px;
    height: 45px;
    font-size: 30px;
    background-color: rgba(128, 128, 128, 0.493);
    color: white;
    border: solid 3px rgba(128, 128, 128, 0.493);
    margin-right: 25em;
    flex-shrink: 0;
    border-radius: 5px;
}

body {
    background: url(IMG/KIRA.jpg) top fixed;
    display: flex;
}
